[submodule "robo_chassis/3rdparty/OpenTLD"]
	path = robo_chassis/3rdparty/OpenTLD
	url = https://github.com/blacksoul000/OpenTLD.git
[submodule "robo_gui/3rdparty/qt-android-cmake"]
	path = robo_gui/3rdparty/qt-android-cmake
	url = https://github.com/LaurentGomila/qt-android-cmake.git
[submodule "robo_chassis/3rdparty/gst-rpicamsrc"]
	path = robo_chassis/3rdparty/gst-rpicamsrc
	url = https://github.com/thaytan/gst-rpicamsrc.git
